.pm-2 {
    background-image: url("dpm-2.png");
    transform:
      translate3d(189px,176px,0px)
      rotateY(-80deg)
      translateZ(304px)
}
.pm-1 {
    background-image: url("dpm-1.png");
    transform:
      translate3d(189px,176px,0px)
      rotateY(-40deg)
      translateZ(304px)
}
.pm0 {
    background-image: url("dpm0.png");
    transform:
      translate3d(189px,176px,0px)
      translateZ(304px)
}
.pm1 {
    background-image: url("dpm1.png");
    transform:
      translate3d(189px,176px,0px)
      rotateY(40deg)
      translateZ(304px)
}
.pm2 {
    background-image: url("dpm2.png");
    transform:
      translate3d(189px,176px,0px)
      rotateY(80deg)
      translateZ(304px)
}

.green div.pm-2 {
    background-image: url("ypm-2.png");
}
.green div.pm-1 {
    background-image: url("ypm-1.png");
}
.green div.pm0 {
    background-image: url("ypm0.png");
}
.green div.pm1 {
    background-image: url("ypm1.png");
}
.green div.pm2 {
    background-image: url("ypm2.png");
}

.fk1 {
    background-image: url("dk1.png");
    transform:
      translate3d(150px,173px,0px)
      translateZ(227px)
      translateY(-43px) /* 130 - 87 */
}
.fk2 {
    background-image: url("dk2.png");
    transform:
      translate3d(150px,173px,0px)
      rotateX(180deg)
      rotateZ(120deg)
      rotateX(138deg)
      translateZ(-227px)
      rotateY(180deg)
      translateY(-43px) /* 130 - 87 */
}
.fk3 {
    background-image: url("dk3.png");
    transform:
      translate3d(150px,173px,0px)
      rotateX(37deg) /* 90 - 53; edge-part of 111 */
      rotateZ(-144deg)
      rotateX(-37deg)
      translateZ(227px)
      rotateZ(120deg)
      translateY(-43px) /* 130 - 87 */
}
.fk4 {
    background-image: url("dk4.png");
    transform:
      translate3d(150px,173px,0px)
      rotateX(180deg)
      rotateX(37deg) /* 90 - 53; edge-part of 111 */
      rotateZ(-144deg)
      rotateX(-37deg)
      translateZ(227px)
      rotateZ(120deg)
      translateY(-43px) /* 130 - 87 */
}
.fk5 {
    background-image: url("dk5.png");
    transform:
      translate3d(150px,173px,0px)
      rotateZ(-120deg)
      rotateX(37deg) /* 90 - 53; edge-part of 111 */
      rotateZ(144deg)
      rotateX(-37deg)
      translateZ(227px)
      rotateZ(-120deg)
      translateY(-43px) /* 130 - 87 */
}
.fk6 {
    background-image: url("dk6.png");
    transform:
      translate3d(150px,173px,0px)
      rotateX(180deg)
      rotateZ(120deg)
      rotateX(37deg) /* 90 - 53; edge-part of 111 */
      rotateZ(144deg)
      rotateX(-37deg)
      translateZ(227px)
      rotateZ(-120deg)
      translateY(-43px) /* 130 - 87 */
}
.fk7 {
    background-image: url("dk7.png");
    transform:
      translate3d(150px,173px,0px)
      rotateZ(120deg)
      rotateX(138deg)
      translateZ(-227px)
      rotateY(180deg)
      translateY(-43px) /* 130 - 87 */
}
.fk8 {
    background-image: url("dk8.png");
    transform:
      translate3d(150px,173px,0px)
      rotateX(180deg)
      rotateX(138deg)
      translateZ(-227px)
      rotateY(180deg)
      rotateY(180deg)
      translateY(-43px) /* 130 - 87 */
}
.fk9 {
    background-image: url("dk9.png");
    transform:
      translate3d(150px,173px,0px)
      rotateZ(120deg)
      rotateX(37deg) /* 90 - 53; edge-part of 111 */
      rotateZ(144deg)
      rotateX(-37deg)
      translateZ(227px)
      rotateZ(-120deg)
      translateY(-43px) /* 130 - 87 */
}
.fka {
    background-image: url("dka.png");
    transform:
      translate3d(150px,173px,0px)
      rotateX(180deg)
      rotateZ(-120deg)
      rotateX(37deg) /* 90 - 53; edge-part of 111 */
      rotateZ(144deg)
      rotateX(-37deg)
      translateZ(227px)
      rotateZ(-120deg)
      translateY(-43px) /* 130 - 87 */
}
.fkb {
    background-image: url("dkb.png");
    transform:
      translate3d(150px,173px,0px)
      rotateZ(120deg)
      rotateX(37deg) /* 90 - 53; edge-part of 111 */
      rotateZ(-144deg)
      rotateX(-37deg)
      translateZ(227px)
      rotateZ(120deg)
      translateY(-43px) /* 130 - 87 */
}
.fkc {
    background-image: url("dkc.png");
    transform:
      translate3d(150px,173px,0px)
      rotateX(180deg)
      rotateZ(-120deg)
      rotateX(37deg) /* 90 - 53; edge-part of 111 */
      rotateZ(-144deg)
      rotateX(-37deg)
      translateZ(227px)
      rotateZ(120deg)
      translateY(-43px) /* 130 - 87 */
}
.fkd {
    background-image: url("dkd.png");
    transform:
      translate3d(150px,173px,0px)
      rotateX(138deg)
      translateZ(-227px)
      rotateY(180deg)
      translateY(-43px) /* 130 - 87 */
}
.fke {
    background-image: url("dke.png");
    transform:
      translate3d(150px,173px,0px)
      rotateX(180deg)
      rotateZ(-120deg)
      rotateX(138deg)
      translateZ(-227px)
      rotateY(180deg)
      translateY(-43px) /* 130 - 87 */
}
.fkf {
    background-image: url("dkf.png");
    transform:
      translate3d(150px,173px,0px)
      rotateZ(-120deg)
      rotateX(37deg) /* 90 - 53; edge-part of 111 */
      rotateZ(-144deg)
      rotateX(-37deg)
      translateZ(227px)
      rotateZ(120deg)
      translateY(-43px) /* 130 - 87 */
}
.fkg {
    background-image: url("dkg.png");
    transform:
      translate3d(150px,173px,0px)
      rotateX(180deg)
      rotateZ(120deg)
      rotateX(37deg) /* 90 - 53; edge-part of 111 */
      rotateZ(-144deg)
      rotateX(-37deg)
      translateZ(227px)
      rotateZ(120deg)
      translateY(-43px) /* 130 - 87 */
}
.fkh {
    background-image: url("dkh.png");
    transform:
      translate3d(150px,173px,0px)
      rotateX(37deg) /* 90 - 53; edge-part of 111 */
      rotateZ(144deg)
      rotateX(-37deg)
      translateZ(227px)
      rotateZ(-120deg)
      translateY(-43px) /* 130 - 87 */
}
.fki {
    background-image: url("dki.png");
    transform:
      translate3d(150px,173px,0px)
      rotateX(180deg)
      rotateX(37deg) /* 90 - 53; edge-part of 111 */
      rotateZ(144deg)
      rotateX(-37deg)
      translateZ(227px)
      rotateZ(-120deg)
      translateY(-43px) /* 130 - 87 */
}
.fkj {
    background-image: url("dkj.png");
    transform:
      translate3d(150px,173px,0px)
      rotateZ(-120deg)
      rotateX(138deg)
      translateZ(-227px)
      rotateY(180deg)
      translateY(-43px) /* 130 - 87 */
}
.fkk {
    background-image: url("dkk.png");
    transform:
      translate3d(150px,173px,0px)
      rotateX(180deg)
      translateZ(227px)
      translateY(-43px) /* 130 - 87 */
}

.green div.fk1 {
    background-image: url("yk1.png");
}
.green div.fk2 {
    background-image: url("yk2.png");
}
.green div.fk3 {
    background-image: url("yk3.png");
}
.green div.fk4 {
    background-image: url("yk4.png");
}
.green div.fk5 {
    background-image: url("yk5.png");
}
.green div.fk6 {
    background-image: url("yk6.png");
}
.green div.fk7 {
    background-image: url("yk7.png");
}
.green div.fk8 {
    background-image: url("yk8.png");
}
.green div.fk9 {
    background-image: url("yk9.png");
}
.green div.fka {
    background-image: url("yka.png");
}
.green div.fkb {
    background-image: url("ykb.png");
}
.green div.fkc {
    background-image: url("ykc.png");
}
.green div.fkd {
    background-image: url("ykd.png");
}
.green div.fke {
    background-image: url("yke.png");
}
.green div.fkf {
    background-image: url("ykf.png");
}
.green div.fkg {
    background-image: url("ykg.png");
}
.green div.fkh {
    background-image: url("ykh.png");
}
.green div.fki {
    background-image: url("yki.png");
}
.green div.fkj {
    background-image: url("ykj.png");
}
.green div.fkk {
    background-image: url("ykk.png");
}

.fc1 { /* side = 185.414 */
    background-image: url("dc1.png");
    transform:
      translate3d(150px,158px,0px)
      translateZ(207px)
      translateY(-15px) /* 285/2 - 127.56 */
}
.fc2 {
    background-image: url("dc2.png");
    transform:
      translate3d(150px,158px,0px)
      translateZ(207px)
      rotateZ(-72deg)
      translateY(-15px) /* 285/2 - 127.56 */
      translateY(142.5px)
      rotateX(116.5deg)
      translateY(-142.5px) /* 285/2 */
      rotateY(180deg)
}
.fc3 {
    background-image: url("dc3.png");
    transform:
      translate3d(150px,158px,0px)
      rotateX(180deg)
      translateZ(207px)
      rotateZ(144deg)
      translateY(-15px) /* 285/2 - 127.56 */
      translateY(142.5px)
      rotateX(116.5deg)
      translateY(-142.5px) /* 285/2 */
      rotateY(180deg)
}
.fc4 {
    background-image: url("dc4.png");
    transform:
      translate3d(150px,158px,0px)
      translateZ(207px)
      translateY(-15px) /* 285/2 - 127.56 */
      translateY(142.5px)
      rotateX(116.5deg)
      translateY(-142.5px) /* 285/2 */
      rotateY(180deg)
}
.fc5 {
    background-image: url("dc5.png");
    transform:
      translate3d(150px,158px,0px)
      translateZ(207px)
      rotateZ(144deg)
      translateY(-15px) /* 285/2 - 127.56 */
      translateY(142.5px)
      rotateX(116.5deg)
      translateY(-142.5px) /* 285/2 */
      rotateY(180deg)
}
.fc6 {
    background-image: url("dc6.png");
    transform:
      translate3d(150px,158px,0px)
      translateZ(207px)
      rotateZ(72deg)
      translateY(-15px) /* 285/2 - 127.56 */
      translateY(142.5px)
      rotateX(116.5deg)
      translateY(-142.5px) /* 285/2 */
      rotateY(180deg)
}
.fc7 {
    background-image: url("dc7.png");
    transform:
      translate3d(150px,158px,0px)
      rotateX(180deg)
      translateZ(207px)
      rotateZ(-72deg)
      translateY(-15px) /* 285/2 - 127.56 */
      translateY(142.5px)
      rotateX(116.5deg)
      translateY(-142.5px) /* 285/2 */
      rotateY(180deg)
}
.fc8 {
    background-image: url("dc8.png");
    transform:
      translate3d(150px,158px,0px)
      rotateX(180deg)
      translateZ(207px)
      rotateZ(-144deg)
      translateY(-15px) /* 285/2 - 127.56 */
      translateY(142.5px)
      rotateX(116.5deg)
      translateY(-142.5px) /* 285/2 */
      rotateY(180deg)
}
.fc9 {
    background-image: url("dc9.png");
    transform:
      translate3d(150px,158px,0px)
      rotateX(180deg)
      translateZ(207px)
      translateY(-15px) /* 285/2 - 127.56 */
      translateY(142.5px)
      rotateX(116.5deg)
      translateY(-142.5px) /* 285/2 */
      rotateY(180deg)
}
.fca {
    background-image: url("dca.png");
    transform:
      translate3d(150px,158px,0px)
      translateZ(207px)
      rotateZ(-144deg)
      translateY(-15px) /* 285/2 - 127.56 */
      translateY(142.5px)
      rotateX(116.5deg)
      translateY(-142.5px) /* 285/2 */
      rotateY(180deg)
}
.fcb {
    background-image: url("dcb.png");
    transform:
      translate3d(150px,158px,0px)
      rotateX(180deg)
      translateZ(207px)
      rotateZ(72deg)
      translateY(-15px) /* 285/2 - 127.56 */
      translateY(142.5px)
      rotateX(116.5deg)
      translateY(-142.5px) /* 285/2 */
      rotateY(180deg)
}
.fcc {
    background-image: url("dcc.png");
    transform:
      translate3d(150px,158px,0px)
      rotateX(180deg)
      translateZ(207px)
      translateY(-15px) /* 285/2 - 127.56 */
}

.green div.fc1 {
    background-image: url("yc1.png");
}
.green div.fc2 {
    background-image: url("yc2.png");
}
.green div.fc3 {
    background-image: url("yc3.png");
}
.green div.fc4 {
    background-image: url("yc4.png");
}
.green div.fc5 {
    background-image: url("yc5.png");
}
.green div.fc6 {
    background-image: url("yc6.png");
}
.green div.fc7 {
    background-image: url("yc7.png");
}
.green div.fc8 {
    background-image: url("yc8.png");
}
.green div.fc9 {
    background-image: url("yc9.png");
}
.green div.fca {
    background-image: url("yca.png");
}
.green div.fcb {
    background-image: url("ycb.png");
}
.green div.fcc {
    background-image: url("ycc.png");
}

.fa1 {
    background-image: url("da1.png");
    transform:
      translate3d(183px,132px,0px)
      rotateX(48deg)
      rotateZ(0deg)
      translateZ(202px)
      rotateX(-48deg)
      translateY(150px)
}
.fa2 {
    background-image: url("da2.png");
    transform:
      translate3d(183px,132px,0px)
      rotateX(228deg)
      rotateZ(-216deg)
      translateZ(202px)
      rotateX(-48deg)
      translateY(150px)
}
.fa3 {
    background-image: url("da3.png");
    transform:
      translate3d(183px,132px,0px)
      rotateX(48deg)
      rotateZ(216deg)
      translateZ(202px)
      rotateX(-48deg)
      translateY(150px)
}
.fa4 {
    background-image: url("da4.png");
    transform:
      translate3d(183px,132px,0px)
      rotateX(228deg)
      rotateZ(-72deg)
      translateZ(202px)
      rotateX(-48deg)
      translateY(150px)
}
.fa5 {
    background-image: url("da5.png");
    transform:
      translate3d(183px,132px,0px)
      rotateX(48deg)
      rotateZ(144deg)
      translateZ(202px)
      rotateX(-48deg)
      translateY(150px)
}
.fa6 {
    background-image: url("da6.png");
    transform:
      translate3d(183px,132px,0px)
      rotateX(228deg)
      rotateZ(-144deg)
      translateZ(202px)
      rotateX(-48deg)
      translateY(150px)
}
.fa7 {
    background-image: url("da7.png");
    transform:
      translate3d(183px,132px,0px)
      rotateX(48deg)
      rotateZ(288deg)
      translateZ(202px)
      rotateX(-48deg)
      translateY(150px)
}
.fa8 {
    background-image: url("da8.png");
    transform:
      translate3d(183px,132px,0px)
      rotateX(228deg)
      rotateZ(72deg)
      translateZ(202px)
      rotateX(-48deg)
      translateY(150px)
}
.fa9 {
    background-image: url("da9.png");
    transform:
      translate3d(183px,132px,0px)
      rotateX(48deg)
      rotateZ(72deg)
      translateZ(202px)
      rotateX(-48deg)
      translateY(150px)
}
.faa {
    background-image: url("daa.png");
    transform:
      translate3d(183px,132px,0px)
      rotateX(228deg)
      rotateZ(0deg)
      translateZ(202px)
      rotateX(-48deg)
      translateY(150px)
}

.green div.fa1 {
    background-image: url("ya1.png");
}
.green div.fa2 {
    background-image: url("ya2.png");
}
.green div.fa3 {
    background-image: url("ya3.png");
}
.green div.fa4 {
    background-image: url("ya4.png");
}
.green div.fa5 {
    background-image: url("ya5.png");
}
.green div.fa6 {
    background-image: url("ya6.png");
}
.green div.fa7 {
    background-image: url("ya7.png");
}
.green div.fa8 {
    background-image: url("ya8.png");
}
.green div.fa9 {
    background-image: url("ya9.png");
}
.green div.faa {
    background-image: url("yaa.png");
}

.f81 {
    background-image: url("d81.png");
    transform:
      translate3d(150px,174px,0px)
      translateZ(122px)
      translateY(-43px) /* 130 - 87 */
}
.f82 {
    background-image: url("d82.png");
    transform:
      translate3d(150px,174px,0px)
      rotateX(180deg)
      rotateZ(120deg)
      rotateX(109.5deg)
      translateZ(-122px)
      rotateZ(-120deg)
      rotateY(180deg)
      translateY(-43px) /* 130 - 87 */
}
.f83 {
    background-image: url("d83.png");
    transform:
      translate3d(150px,174px,0px)
      rotateZ(120deg)
      rotateX(109.5deg)
      translateZ(-122px)
      rotateZ(-120deg)
      rotateY(180deg)
      translateY(-43px) /* 130 - 87 */
}
.f84 {
    background-image: url("d84.png");
    transform:
      translate3d(150px,174px,0px)
      rotateX(109.5deg)
      translateZ(-122px)
      rotateY(180deg)
      translateY(-43px) /* 130 - 87 */
}
.f85 {
    background-image: url("d85.png");
    transform:
      translate3d(150px,174px,0px)
      rotateX(180deg)
      rotateX(109.5deg)
      translateZ(-122px)
      rotateY(180deg)
      translateY(-43px) /* 130 - 87 */
}
.f86 {
    background-image: url("d86.png");
    transform:
      translate3d(150px,174px,0px)
      rotateX(180deg)
      rotateZ(-120deg)
      rotateX(109.5deg)
      translateZ(-122px)
      rotateZ(120deg)
      rotateY(180deg)
      translateY(-43px) /* 130 - 87 */
}
.f87 {
    background-image: url("d87.png");
    transform:
      translate3d(150px,174px,0px)
      rotateZ(-120deg)
      rotateX(109.5deg)
      translateZ(-122px)
      rotateZ(120deg)
      rotateY(180deg)
      translateY(-43px) /* 130 - 87 */
}
.f88 {
    background-image: url("d88.png");
    transform:
      translate3d(150px,174px,0px)
      rotateX(180deg)
      translateZ(122px)
      translateY(-43px) /* 130 - 87 */

}

.green div.f81 {
    background-image: url("y81.png");
}
.green div.f82 {
    background-image: url("y82.png");
}
.green div.f83 {
    background-image: url("y83.png");
}
.green div.f84 {
    background-image: url("y84.png");
}
.green div.f85 {
    background-image: url("y85.png");
}
.green div.f86 {
    background-image: url("y86.png");
}
.green div.f87 {
    background-image: url("y87.png");
}
.green div.f88 {
    background-image: url("y88.png");
}

.f61 {
    background-image: url("d61.png");
    transform:
      translate3d(150px,150px,0px)
      translateZ(150px);
}
.f62 {
    background-image: url("d62.png");
    transform:
      translate3d(150px,150px,0px)
      rotateX(-90deg)
      rotateZ(-90deg)
      translateZ(150px);
}
.f63 {
    background-image: url("d63.png");
    transform:
      translate3d(150px,150px,0px)
      rotateY(90deg)
      rotateZ(90deg)
      translateZ(150px)
}
.f64 {
    background-image: url("d64.png");
    transform:
      translate3d(150px,150px,0px)
      rotateY(-90deg)
      rotateZ(180deg)
      translateZ(150px)
}
.f65 {
    background-image: url("d65.png");
    transform:
      translate3d(150px,150px,0px)
      rotateX(90deg)
      rotateZ(180deg)
      translateZ(150px);
}
.f66 {
    background-image: url("d66.png");
    transform:
      translate3d(150px,150px,0px)
      translateZ(-150px)
      rotateZ(90deg)
      rotateY(180deg)
}

.green div.f61 {
    background-image: url("y61.png");
}
.green div.f62 {
    background-image: url("y62.png");
}
.green div.f63 {
    background-image: url("y63.png");
}
.green div.f64 {
    background-image: url("y64.png");
}
.green div.f65 {
    background-image: url("y65.png");
}
.green div.f66 {
    background-image: url("y66.png");
}

.f41 {
    background-image: url("d41.png");
    transform:
      translate3d(150px, 130px, 0px)
      translateZ(61px)
}
.f42 {
    background-image: url("d42.png");
    transform:
      translate3d(150px,130px,0px)
      translateZ(61px)
      translateY(44px)
      rotateZ(120deg)
      translateY(86px)
      rotateX(-109.5deg) /* 180 - 70.5 */
      translateY(130px)
      rotateZ(180deg)
      translateY(44px)
      rotateZ(-120deg)
      translateY(-44px)
}
.f43 {
    background-image: url("d43.png");
    transform:
      translate3d(150px,130px,0px)
      translateZ(61px)
      translateY(44px)
      rotateZ(-120deg)
      translateY(86px)
      rotateX(-109.5deg) /* 180 - 70.5 */
      translateY(130px)
      rotateZ(180deg)
      translateY(44px)
      rotateZ(120deg)
      translateY(-44px)
}
.f44 {
    background-image: url("d44.png");
    transform:
      translate3d(150px,130px,0px)
      translateZ(61px)
      translateY(130px)
      rotateX(-109.5deg) /* 180 - 70.5 */
      translateY(130px)
      rotateZ(180deg)
}

.green div.f41 {
    background-image: url("y41.png");
}
.green div.f42 {
    background-image: url("y42.png");
}
.green div.f43 {
    background-image: url("y43.png");
}
.green div.f44 {
    background-image: url("y44.png");
}

.container {
    float: left;
    width: 600px;
    height: 600px;
    transform: translate(-200px,-200px) scale(0.3);
}

.dm,.d4,.d6,.d8,.da,.dc,.dk {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s ease 0s;
    -webkit-transition: -webkit-transform 1s ease 0s;
    margin: 0px;
}

.d4 div, .d8 div, .dk div {
    position: absolute;
    width: 300px;
    height: 260px;
}
.dm div {
    position: absolute;
    width: 222px;
    height: 352px;
}
.d6 div {
    position: absolute;
    width: 300px;
    height: 300px;
}
.da div {
    position: absolute;
    width: 234px;
    height: 300px;
}
.dc div {
    position: absolute;
    width: 300px;
    height: 285px;
}
